{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div style="display:block ;margin: 20 auto;padding-top: 20; padding-bottom: 50; ">
    <div class="jumbotron text-center" style="padding=30;">
        <table>
            <tr>
                <td>
                    <img src="static/images/19392.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300"><span class="sr-only">(current)</span>
                    <p>สายลุยเขา</p>
                    <p>สำหรับสายลุยเขา ไม่ว่าจะเป็นการเเต่งตัวที่สบายๆเเล้วยังรู้สึก </p>
                    <p>สามารถลุยไปได้ทุกที่ลุคนี้ขอบอกได้เลยว่าเท่ระเบิดเเน่นอน</p>
                </td>
                <td>
                    <img src="static/images/19391.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300"><span class="sr-only">(current)</span>
                    <p>สายสตรีท</p>
                    <p>สำหรับสตรีท เเต่งตัวด้วยกางเกงขาสั้นกับร้องเท้าผ้าใบพร้อมเจอ</p>
                    <p>กับทางเดินทุกรูปแบบลุคนี้โดนใจสายสตรีทเเน่นอน</p>
                </td>

            </tr>
            <tr>
                <td>
                    <img src="static/images/19390.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300"><span class="sr-only">(current)</span>
                    <p>สายสบายๆ</p>
                    <p>สำหรับสายนี้ การเเต่งตัวที่เห็นเเล้วหยิบเอ่ามาจับคู่กับเสื้อผ้าเเละ</p>
                    <p>กางเกงสีที่ตรงกันข้ามกันใส่พร้อมกับร้องเท้า จะเเต่งตัวตอนใหน</p>
                    <p> ไปใหน นอกจากเเต่งตัวออกไปเจอเพื่อนเเล้วพร้อมไปต่อที่ใหน</p>
                    <p>อีกก็ได้</p>
                </td>
                <td>
                    <img src="static/images/19393.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300"><span class="sr-only">(current)</span>
                    <p>สายเนียบเเบบไม่เยอะ</p>
                    <p>สำหรับสายนี้ ขอบอกเลยว่านอกจากจะเนียบเเล้วก็เท่ไม่เบา กระเป๋า</p>
                    <p>เป๋เเละร้องเท้าหนังหยิบมาเเล้วสาวๆมีมองกันไม่หลบสายตาเเน่นอน</p>

                </td>
            </tr>
        </table>



    </div>
</div>
{% endblock %}