{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<body> <style> .p{style="margin-left: 30%;"}</style>
    
</body>
<div>
    <div class="jumbotron" style="padding=30;background-color: whitesmoke;">
        <h1 style=" font-size: 40;">Clothes</h1>
    <div class="jumbotron text-center" style="padding=30;background-color: ffcc00;">
        <table>
            <tr>
                <td >
                    <img src="static/images/19392.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300" style=" display: block; margin-right: auto; margin-left: auto; width: 40%"><span class="sr-only" >(current)</span>
                    <p style="margin-left: 220;"><b>สายลุยเขา</b></p>
                    <p style="margin-left: 250;">สำหรับสายลุยเขา ไม่ว่าจะเป็นการเเต่งตัวที่สบายๆเเล้วยังรู้สึก </p>
                    <p style="margin-left: 250;">สามารถลุยไปได้ทุกที่ลุคนี้ขอบอกได้เลยว่าเท่ระเบิดเเน่นอน</p>
                </td>

                <td >
                    <img src="static/images/19391.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300" style=" display: block; margin-right: auto;margin-left: auto; width: 40%"><span class="sr-only">(current)</span>
                    <p style="margin-left: 220;"><b>สายสตรีท</b></p>
                    <p style="margin-left: 250;">สำหรับสตรีท เเต่งตัวด้วยกางเกงขาสั้นกับร้องเท้าผ้าใบพร้อมเจอ</p>
                    <p style="margin-left: 250;">กับทางเดินทุกรูปแบบลุคนี้โดนใจสายสตรีทเเน่นอน</p>
                </td>

            </tr>
            <tr>
                <td >
                    <img src="static/images/19390.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300" style=" display: block; margin-right: auto;margin-left: auto; width: 40%"><span class="sr-only">(current)</span>
                    <p style="margin-left: 220;"><b>สายสบายๆ</b></p>
                    <p style="margin-left: 250;">สำหรับสายนี้ การเเต่งตัวที่เห็นเเล้วหยิบเอ่ามาจับคู่กับเสื้อผ้าเเละ</p>
                    <p style="margin-left: 250;">กางเกงสีที่ตรงกันข้ามกันใส่พร้อมกับร้องเท้า จะเเต่งตัวตอนใหน</p>
                    <p style="margin-left: 250;"> ไปใหน นอกจากเเต่งตัวออกไปเจอเพื่อนเเล้วพร้อมไปต่อที่ใหน</p>
                    <p style="margin-left: 250;">อีกก็ได้</p>
                </td>
                 
                <td>
                    <img src="static/images/19393.jpg" class="img-circle" alt="Cinque Terre" width="300"
                        height="300" style=" display: block; margin-right: auto;margin-left: auto; width: 40%"><span class="sr-only">(current)</span>
                    <p style="margin-left: 220;"><b>สายเนียบเเบบไม่เยอะ</b></p>
                    <p style="margin-left: 250;">สำหรับสายนี้ ขอบอกเลยว่านอกจากจะเนียบเเล้วก็เท่ไม่เบา กระเป๋า</p>
                    <p style="margin-left: 250;">เป๋เเละร้องเท้าหนังหยิบมาเเล้วสาวๆมีมองกันไม่หลบสายตาเเน่นอน</p>

                </td>
            </tr>
        </table>



    </div>
</div>
{% endblock %}