{% extends 'frontend/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- <body background="static/images/AR.jpg"></body>  -->
<div>
    <div style="background-color:#fff0b3;   height: 900px; align:center;">
        <img src="static/images/my.jpg" class="img-circle"  alt="Cinque Terre"  width="1520" height="450" ><span
            class="sr-only">(current)</span></a>
        <h1 class="display-2 jumbotron text-center" style="background-color:fff0b3;">WELLCOME</h1>


        <div style="display:block ;margin: 20 auto;padding-top: 20; padding-bottom: 50; ">
            <div class="jumbotron text-center" style="padding=30;">
                <table>
                    <tr>
                        <td>
                            <img src="static/images/19392.jpg" class="img-circle" alt="Cinque Terre" width="300"
                                height="300"><span class="sr-only">(current)</span>
                            <p>สายลุยเขา</p>
                            <p>สำหรับสายลุยเขา ไม่ว่าจะเป็นการเเต่งตัวที่สบายๆเเล้วยังรู้สึก </p>
                            <p>สามารถลุยไปได้ทุกที่ลุคนี้ขอบอกได้เลยว่าเท่ระเบิดเเน่นอน</p>
                        </td>
                        <td>
                            <img src="static/images/19391.jpg" class="img-circle" alt="Cinque Terre" width="300"
                                height="300"><span class="sr-only">(current)</span>
                            <p>สายสตรีท</p>
                            <p>สำหรับสตรีท เเต่งตัวด้วยกางเกงขาสั้นกับร้องเท้าผ้าใบพร้อมเจอ</p>
                            <p>กับทางเดินทุกรูปแบบลุคนี้โดนใจสายสตรีทเเน่นอน</p>
                        </td>
        
                    </tr>
                    <tr>
                        <td>
                            <img src="static/images/19390.jpg" class="img-circle" alt="Cinque Terre" width="300"
                                height="300"><span class="sr-only">(current)</span>
                            <p>สายสบายๆ</p>
                            <p>สำหรับสายนี้ การเเต่งตัวที่เห็นเเล้วหยิบเอ่ามาจับคู่กับเสื้อผ้าเเละ</p>
                            <p>กางเกงสีที่ตรงกันข้ามกันใส่พร้อมกับร้องเท้า จะเเต่งตัวตอนใหน</p>
                            <p> ไปใหน นอกจากเเต่งตัวออกไปเจอเพื่อนเเล้วพร้อมไปต่อที่ใหน</p>
                            <p>อีกก็ได้</p>
                        </td>
                        <td>
                            <img src="static/images/19393.jpg" class="img-circle" alt="Cinque Terre" width="300"
                                height="300"><span class="sr-only">(current)</span>
                            <p>สายเนียบเเบบไม่เยอะ</p>
                            <p>สำหรับสายนี้ ขอบอกเลยว่านอกจากจะเนียบเเล้วก็เท่ไม่เบา กระเป๋า</p>
                            <p>เป๋เเละร้องเท้าหนังหยิบมาเเล้วสาวๆมีมองกันไม่หลบสายตาเเน่นอน</p>
        
                        </td>
                    </tr>
                </table>
        
        
        
            </div>
        </div>

            <div class="jumbotron" style="padding=30;background-color: #ffcc00;">
                <h1>Contact US</h1>
                <table>
                    <tr style="margin-left:25%;padding:160px 100px;">
                        <td style="margin-left:25%;padding:10px 60px;"><img src="static/images/Cl.png"
                                class="img-circle" alt="Cinque Terre" width="30" height="30"><span
                                class="sr-only">(current)</span> 0806473233</td>
                        <td style="margin-left:25%;padding:10px 60px;"><img src="static/images/massage.jpg"
                                class="img-circle" alt="Cinque Terre" width="30" height="30"><span
                                class="sr-only">(current)</span>61011420@kmitl.ac.th</td>
                    </tr>
                </table>
                <p style="margin-left:60">หอพักนักศึกษา สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง เลขที่ 1 ซอย
                    ฉลองกรุง 1 แขวง
                    ลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร 10520</p>
            </div>
    </div>

</div>





{% endblock %}